body { background: #cef373; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 24px; display: flex; }
.block-router-0 { color: #ffaa3b; font-size: 20px; margin-bottom: 5px; }
.block-product-1 { color: #108b63; font-size: 19px; margin-bottom: 5px; }
.block-email-2 { color: #489b18; font-size: 12px; margin-bottom: 5px; }
.block-metrics-3 { color: #ba3a43; font-size: 15px; margin-bottom: 5px; }
.block-config-4 { color: #90109c; font-size: 16px; margin-bottom: 5px; }
.block-cluster-5 { color: #6ec67e; font-size: 12px; margin-bottom: 5px; }
.block-cart-6 { color: #3da8ab; font-size: 17px; margin-bottom: 5px; }
.block-config-7 { color: #9d3e12; font-size: 20px; margin-bottom: 5px; }
.block-session-8 { color: #12e31f; font-size: 18px; margin-bottom: 5px; }
.block-uploader-9 { color: #86eead; font-size: 21px; margin-bottom: 5px; }